<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        font-family: "Droid Sans";
        font-size: 13px;
    }
    btn {
        width: 100px;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }
    btn:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
</style>
<body>
<section class="vh-100">
    <form  th:action="@{/admin/save}" method= "post" th:object="${user}"
    style="max-width: 1000px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <h1 class="text-danger mb-4">[[${pageTitle}]]</h1>
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="text" th:field="*{firstname}"  class="form-control form-control-lg"  required minlength="2" maxlength="20">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="text" th:field="*{lastname}"  class="form-control form-control-lg"  required minlength="2" maxlength="20">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">User Name</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="text" th:field="*{username}" class="form-control form-control-lg"  required minlength="2" maxlength="20"  />
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Adress</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <textarea type="text" th:field="*{adress}" class="form-control form-control-lg" required minlength="2" maxlength="45"></textarea>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Job Title</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="text" th:field="*{jobtitle}" class="form-control form-control-lg"  required minlength="2" maxlength="20">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Email Adress</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="email" th:field="*{email}"  class="form-control form-control-lg"  required minlength="2" maxlength="45">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Password</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="password" th:field="*{password}"  class="form-control form-control-lg"  required minlength="2" maxlength="45">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" >
                                <label class="form-check-label" th:field="*{enabled}">Accept All Terms and Agreements</label>
                            </div>
                            <hr class="mx-n3">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary a-btn-slide-text" >Save</button>
                                <button type="button" class="btn btn-primary a-btn-slide-text" onclick="cancelForm()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script type="text/javascript">
     function cancelForm(){
         window.location = "[[@{/admin}]]";
     }
</script>
</body>
</html>