<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Title</title>
</head>
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }

    a.btn:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    .table {
        margin: 50px 0;
    }
    a.btn {
        width: 100px;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }

</style>
<body>
</nav>
<section class="banner">
    <div class="container-fluid text-center">
        <div><h2>Manage User Table</h2></div>
        <div class="container">
            <div class="row">
                <a th:href="@{/admin/new}" class="btn btn-primary a-btn-slide-text">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span><strong>Add</strong></span>
                </a>
                <a th:href="@{/admin}" class="btn btn-primary a-btn-slide-text">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span><strong>All List</strong></span>
                </a>
            </div>
        </div>
        <div>
            <a style="margin-top: 10px; margin-bottom: 20px"  th:href="@{/}" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon" aria-hidden="true"></span>
                <span><strong>Back</strong></span>
            </a>
        </div>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered" id="myTable">
                <form th:action="@{/admin}" method="get">
                    <input id="txtSearch" type="text" name="keyword">
                    <button type="submit">Search</button>
                </form>
                <thead class="thead-light" id="list">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Adress</th>
                    <th>Job Title</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user :${userList}">
                    <tr>
                        <td class="users">[[${user.id}]]</td>
                        <td>[[${user.firstname}]]</td>
                        <td >[[${user.lastname}]]</td>
                        <td>[[${user.username}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.adress}]]</td>
                        <td>[[${user.jobtitle}]]</td>
                        <td>[[${user.password}]]</td>
                        <td>
                            <a th:href="@{'/admin/edit/' + ${user.id}}" class="btn btn-primary a-btn-slide-text">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <span><strong>Edit</strong></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/admin/delete/' + ${user.id}}" class="btn btn-primary a-btn-slide-text">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <span><strong>Delete</strong></span>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>